<div class="loginModal">
  <div ng-show="lm.spin" class="loginSpinnerWrapper">
    <div class="loader"></div>
  </div>
  <div class="loginForm col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-md-offset-3">
    <div ng-if="lm.token" class="loginCloseBtnContainer" ng-click="lm.closeLoginModal()">
      <i class="fa fa-times fa-lg"></i>
    </div>
    <div class="loginInputs">
      <div class="login">
        <h2>Log In</h2>
        <input class="form-control" ng-model="lm.loginInfo.username" type="text" placeholder="Username or email" required/><br/>
        <input class="form-control" ng-model="lm.loginInfo.password" type="password" placeholder="Password" required/><br/>
        <button class="form-control btn btn-primary" ng-click="lm.submitLogin(lm.loginInfo)">Log In</button>
        <br/>
        <alert-bar class="alert alert-danger" ng-if='lm.loginAlert' ng-click="lm.closeLoginAlert()">{{lm.loginAlert}}</alert-bar>
      </div>
      <div class="register">
        <h2>Register</h2>
        <input class="form-control" ng-model="lm.registerInfo.username" type="text" placeholder="Username or email" required/><br/>
        <input class="form-control" ng-model="lm.registerInfo.password" type="password" placeholder="Password" required/><br/>
        <input class="form-control" ng-model="lm.registerInfo.password2" type="password" placeholder="Confirm Password" required/><br/>
        <button class="form-control btn btn-primary" ng-click="lm.submitRegister(lm.registerInfo)">Register</button>
        <alert-bar class="alert alert-danger" ng-if='lm.registerAlert' ng-click="lm.closeRegisterAlert()">{{lm.registerAlert}}</alert-bar>
      </div>
      <div class="guest">
        <h2>Visit as Guest</h2>
        <p><em>Warning: nothing will be saved!</em></p>
        <button class="form-control btn btn-primary" ng-click="lm.submitGuest()">View as guest</button>
        <alert-bar class="alert alert-danger" ng-if='lm.guestAlert' ng-click="lm.closeGuestAlert()">{{lm.guestAlert}}</alert-bar>
      </div>
    </div>
  </div>
</div>
