<div id="listPage" class="container">
  <nav-bar></nav-bar>
  <div id="listPanel" class="viewPanel">
    <div class="listSearch input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
         <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
       </span>
    </div>
    <ul class="list-group likesList">
      <li ng-repeat="resource in lp.me.likes"
      ng-click="viewResource($index)" class="likesListItem list-group-item">
        <span>
          {{resource.info.title}}
        </span>
        <i class="fa fa-wikipedia-w" ui-sref="resource({resourceId: resource._id})"></i>
      </li>
    </ul>
  </div>
</div>
