<div id="listPage" class="page">
  <div id="listPanel" class="viewPanel">
    <div ng-if="lp.coords" class="listSearch input-group">
      <div class="input-group-addon">
        <input id="nearby" class='input-group-addon' type="checkbox" ng-model="lp.nearby">
      </div>
      <label for="nearby" class="form-control">Find nearby</label>
    </div>
    <ul class="list-group likesList">
      <li ng-repeat="resource in lp.me.likes | orderBy: lp.sortOrder"
      ng-click="viewResource($index)" class="likesListItem list-group-item"
      ng-class="lp.ratingClass(resource)">
        <span>
          {{resource.info.title}}
        </span>
        <i class="fa fa-wikipedia-w" ng-click="lp.viewResource(resource)"></i>
      </li>
    </ul>
  </div>
</div>
