<div>
  <div id="navBar">
    <a class="navBtn" ui-sref="resource" ng-click="nb.updateSelectedLoc('resource')"><i class="fa fa-wikipedia-w"></i></a>
    <a class="navBtn" ui-sref="main" ng-click="nb.updateSelectedLoc('main')"><i class="fa fa-circle-o"></i></a>
    <a class="navBtn" ui-sref="list" ng-click="nb.updateSelectedLoc('list')"><i class="fa fa-list"></i></a>
    <!-- <a class="navBtn" ng-click="nb.logout()"><i class="fa fa-cog"></i></a> -->
  </div>
  <hr class="navUnderline" ng-class="nb.selected"/>
</div>
