@import "../assets/libs/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "my_scss/mixins";

// sizes
$max-body-width: 700px;
$global-gutter: .5em;
$global-gutter-desktop: 3em;
$nav-bar-height: 36px;

// colors
$background-color: #FDFDFD;
$dark-background-color: #DDD;
$font-color: #545454;
$font-color-light: #D4D4D4;


body {
  background: $background-color;
  color: $font-color;
  max-width: $max-body-width;
  margin: auto;
}

a {
  color: $font-color;
}

@import "my_scss/global";
@import "my_scss/mainPage";
@import "my_scss/resourcePage";
@import "my_scss/listPage";
@import "my_scss/navBar";
@import "my_scss/loginModal";
@import "my_scss/alertBar";
@import "my_scss/deck";
@import "my_scss/card";
