.card {
  position: relative;
}

.topCard {
  overflow: hidden;
  height: 60vh;
}

$card-margin-right: 5px;
$card-margin-bottom: 5px;

.card {
    margin: 0 $card-margin-right $card-margin-bottom 0;
}

.cardContent {
  height: 100%;
  padding: 1em 1em 0 1em;
  text-align: center;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    margin-top: .3em;
    font-family: "Georgia", Times, serif;
  }
  img {
    height: 55%;
    max-width: 100%;
  }
  p {
    height: 20%;
    width: 100%;
    bottom: 0;
    padding-top:0.5em ;
    background: $background-color;
  }
}

.movingCard {
  z-index: 9;
  position: absolute;
  top: 0;
  right: $card-margin-right;
  bottom: $card-margin-bottom;
  left: 0;

}
