#deck {
  max-width: 600px;
  margin: auto;

  .cards {
   margin-bottom: 1em;
  }

  .preload {
    display: none;
  }

  .deckBtnContainer {
    max-width: 600px;
    margin: auto;
  }

  .deckBtn {
    width: 25%;
    @include aspect-ratio(1,1)
    float: left;
    border-radius: 9999px;
    border: 6px solid #e8e8e8;
    text-align: center;
    margin: 0 -1px;
    box-shadow: 0px 2px 2px #bbb;
    i {
      font-size: 12vw;
    }
    &:hover {
      background: $dark-background-color;
    }
  }

  .strikeBtn {
    margin-left: 8.333333%;
    margin-top: 4.1%;
    color: #CB0000;
  }
  .likeBtn {
    color: #198B66;
    margin-top: 4.1%;
    margin-right: 8.333333%;
  }

  .viewResourceBtn {
    color: $font-color;
    width: 33.33333333%;
    height: 33.33333333%;
    z-index: 10;
    i {
      line-height: 100%;
      font-size: 18vw;
    }
  }

  @media (min-width: 645px) {
    .deckBtn i {
      font-size: 5.4em;
    }
    .viewResourceBtn i {
      font-size: 8.3em;
    }
  }

}
