#listPanel {
  .rating10 { @include rating-color(red, 1) }
  .rating9 { @include rating-color(red, 0.9) }
  .rating8 { @include rating-color(red, 0.8) }
  .rating7 { @include rating-color(red, 0.7) }
  .rating6 { @include rating-color(red, 0.6) }
  .rating5 { @include rating-color(red, 0.5) }
  .rating4 { @include rating-color(red, 0.4) }
  .rating3 { @include rating-color(red, 0.3) }
  .rating2 { @include rating-color(red, 0.2) }
  .rating1 { @include rating-color(red, 0.1) }
}

.listSearch {
  #nearby {
    margin-right: .5em;
  }
}

.legend {
  text-align: center;
  margin-top: 1em;
  .bar {
    height: 1em;
    display: inline-block;
  }
  .entry {
    float: left;
    width: 1em;
    height: 1em;
  }
}

#listPage {
  padding-left: 1em;
  padding-right: 1em;
}

.likesList {
  padding: 1em 0;
}

.likesListItem {
  padding-right: 35px;
  span {

  }
  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
