#listPanel {

}

#listPage {
  padding-left: 1em;
  padding-right: 1em;
}

.likesList {
  padding: 1em 0;
}

.likesListItem {
  padding-right: 35px;
  span {

  }
  i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
