#navBar{
  height: $nav-bar-height;
  text-align: center;
  padding: 0 $global-gutter;
  // border-bottom: 1px solid $font-color-light;

  .navBtn:first-of-type {
    float:left;
  }
  .navBtn:last-of-type{
    float:right;
  }
  .navBtn {
    font-size: $font-size-h3;
  }
}

$button-width: 40px;

hr.navUnderline {
  top: -.25rem;
  height: $nav-underline-height;
  width: $button-width;
  margin: 0;
  background: $font-color-light;
  border: none;
  transition: .3s ease-in-out;
}

hr.resource {
  margin-left: 2px;
}

hr.main {
  margin-left: calc(50% - #{$button-width}/2 + 2px);
}

hr.list {
  margin-left: calc(100% - #{$button-width} - 2px);
}

@media (min-width: $screen-md) {
  #navBar {
    padding: 0 $global-gutter-desktop;
  }
}
