.navBarDirective{
  text-align: center;
  padding: 0 $global-gutter;
  border-bottom: 2px solid $light-font-color;
  .navBtn {
    font-size: 36px;
  }
  .navBtn:first-of-type {
    float:left;
  }
  .navBtn:last-of-type{
    float:right;
  }
}
