#resourcePage {

  padding-top: 0em;

  .wellView {
    width: 100vw;
    height: 100%;
    left: 0;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .wellIframe {
    height: 100%;
    width: 100%;
  }

  .distHUD {
    position: absolute;
    right: 10px;
    top: -7px;
    font-weight: bold;
    font-size: small;
    color: $font-color-light;
    z-index: 10;
  }

}

@media (min-width: $screen-md) {
  .wellView {
    padding-top: 1em;
  }
}
