#resourcePage {

  padding-top: 0em;

  #resourcePanel {
    height: calc(100vh - #{$nav-bar-height} - #{$nav-underline-height} - 10px);
  }

  .wellView {
    width: 100vw;
    height: 100%;
    left: 0;
    position: fixed;
  }

  .distHUD {
    position: absolute;
    right: 10px;
    top: -7px;
    font-weight: bold;
    font-size: small;
    color: $font-color-light;
    z-index: 10;
  }

}

@media (min-width: $screen-md) {
  .wellView {
    padding-top: 1em;
  }
}
