#signUpBar{
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5em;
  border-top: 1px solid lightgrey;
  width: 100vw;
  background: white;
  z-index: 20;
  text-align: center;

  &:hover {
    background-color: #EEE;
  }

  span {
    font-size: smaller;
  }
}
