@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .squareContent {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin rating-color($color, $rating) {
  $max-opacity: 0.5;
  $opacity: $rating*$max-opacity;
  background: opacify( rgba($color,0), $opacity);
}
